.container {
    display: grid;
    justify-content: center;
    align-content: center;
    align-items: left;
    vertical-align:left;
   margin-right:158px;
    grid-template-columns: repeat(4, 200px);
    
    grid-template-rows: minmax(51px, auto) repeat(4, 51px);
    min-height: 100vh;
    background-color: rgba(30, 26, 26, 0.913);
}

button {
    cursor: pointer;
    outline: none;
    align-items: left;
    justify-content: center;
    font-size: 13px;
    min-height: 10vh;
    background-color: rgb(95, 91, 91);
    color : rgba(255, 255, 255, 0.79);
    border: 3px solid rgb(62, 51, 51);

}

button:hover {
    background-color: rgb(237, 237, 245) (225, 225, 225, 70);
    color: rgb(211, 211, 220);
}

.output {
    grid-column: 1 / -1;
    background-color: #333;
    border-radius: 20px 20px 0 0;
    word-wrap: break-word;
    word-break: break-all;
    -ms-word-break: break-all;
    -ms-word-wrap: break-word;
}

.overoutput {
    background-color: rgba(29, 31, 32, 0.281);
    padding-right: 10px;
    padding: 10px;
    text-align: end;
    font-size: 20px;
    color: rgba(225, 225, 225, 100);
    min-height: 2px;
}

.tempoutput {
    background-color: rgba(51, 51, 51, 0.388);
    color:rgba(30, 27, 27, 0.304) ;
    font-size: 12px;
    padding: 12px;
    min-height: 12px;
}

.underoutput {
    padding: 12px;
    text-align: end;
    font-size: 30px;
    color: white;
    min-height: 15px;
}

.title {
    text-align: left;
    height: 40px;
    padding-top: 10px;
    font-size: 25px;
    color: rgba(255, 255, 255, 0.742);
}
.result 

{
color: blue;
background-color:skyblue;
}
p{
    background-color: rgba(69, 63, 63, 0.041);
    color: rgba(82, 80, 80, 0.18);
    align-items: right;
    align-content: flex-end;

}
body{
    background-color: rgba(39, 36, 36, 0.852);

}
